button {
  padding: 20px;
  border: 1px solid black;
  background-color: green;
  color: white;
  font-size: 24px;
}

body {
  background-image: url("http://2geh.com/data/uploads/43/537377.jpg")
}

h1 {
  color: white;
}

div {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
